body  {
	font-family: Geneva, Lucida Sans, Lucida Grande, Lucida Sans Unicode, Verdana;
  font-size: 12pt;
  color: #000000;
  background: #FFF;
  margin-left: 10%;
  margin-right: 10%;
}

li {
  margin-left: -10px;
}

h1, h2, h3, h4 { margin: 0; }

h1 {
  font-size: 175%;
}

h3 {
  font-size: 110%;
}

h4 {
  font-size: 100%;
  margin-bottom: -10px;
}

.smallcaps {
	font-variant: small-caps;
}
